version: '3.8'

services:
  backend:
    image: ghcr.io/tuananhdao/random-wheel-exercise-backend:latest
    ports:
      - "8080:8080"
    networks:
      - app-network

  frontend:
    image: ghcr.io/tuananhdao/random-wheel-exercise-frontend:latest
    ports:
      - "3000:3000"
    environment:
      - CHOKIDAR_USEPOLLING=true
    networks:
      - app-network
    depends_on:
      - backend

networks:
  app-network:
    driver: bridge

